[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "airports"]
	path = airports
	url = https://github.com/openintrostat/airports
[submodule "cherryblossom"]
	path = cherryblossom
	url = https://github.com/openintrostat/cherryblossom
[submodule "openintro"]
	path = openintro
	url = https://github.com/openintrostat/openintro
[submodule "usdata"]
	path = usdata
	url = https://github.com/openintrostat/usdata
