[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "airports"]
	path = airports
	url = https://github.com/openintrostat/airports
	shallow = true
	registered = true
[submodule "cherryblossom"]
	path = cherryblossom
	url = https://github.com/openintrostat/cherryblossom
	shallow = true
	registered = true
[submodule "openintro"]
	path = openintro
	url = https://github.com/openintrostat/openintro
	shallow = true
	registered = true
[submodule "usdata"]
	path = usdata
	url = https://github.com/openintrostat/usdata
	shallow = true
	registered = true
